*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Baloo Tammudu 2', cursive;
    background-color: #a3d9ee;
    text-align: center;
    font-size: 45px;
}
.header{
    color: black;
    position: relative;
}
.Container{
   position: absolute;
   text-align: center;
   margin-left: 23%;
   margin-right: 35%;
   margin-top: 2%;
   padding: 2% ;
   width: 50%;
   border: 2px solid black;
   border-radius: 30px;
   margin-bottom: 2%;
}
.closeTag {
    position: absolute;
    padding-top: 1%;
    padding-right: 2%;
    right: 0;
    font-family: fantasy;
    cursor: pointer;
    font-size: 32px;
}
.closeTag:hover {
    color: rgb(255, 0, 0);
}
ul li{
    cursor: pointer;
    margin-bottom: 1%;
    position: relative;
    padding-left: 6%;
    list-style-type: none;
    background-color: #d9d9d9;
    font-size: 22px;
    text-align: justify;
}
ul {
    margin: 0;
    padding: 0;
}
ul li:nth-child(odd) {
    background: #f9f9f9;
}
ul li:hover {
    background: #e4e3e3;
}
ul li.checked {
    background: rgb(175, 175, 175);
    color: black;
    text-decoration: line-through;
}
#input{
    margin-bottom: 15px;
    background-color: transparent;
    border: none;
    color: black;
    border-bottom: 2px solid black;
    font-size: 22px;
    text-align: center;
    outline: none;
    display: inline-block;
    width: 60%;
    font-family: 'Baloo Tammudu 2', cursive;
    margin-bottom: 8%;
}
.addButton{
    font-size: 22px;
    padding: 10px 0px;
    border: none;
    color:black ;
    border-radius: 100px;
    margin: 0px;
    transition: 0.4s all;
    outline: none;
    display: inline-block;
    width: 30%;
    font-family:cursive;
}
.addButton:hover{
    transform: translateY(-5px);
    background-color: #008cff;
    cursor: pointer;
    color: white;
}
#Daytag{
    text-align: left;
    margin: 0;
    margin-bottom: 2%;
}
#Datetag{
    text-align: left;
    margin-top: 0;
    margin-bottom: 20%;
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0 3px 3px 0;
    top: 23px;
    left: 18px;
    transform: rotate(45deg);
    height: 18px;
    width: 7px;
  }